<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset='utf-8'>
    <title>メモアプリ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body class="bg-light">
    <div class="container col-lg-6 mt-5">
        <form action="/" method="post" class="d-flex justify-content-center align-items-center">
            <div class="col-8 pr-2">
                <input type="text" name="content" class="form-control" placeholder="何をメモしますか？">
            </div>
            <button type="submit" class="btn btn-primary col-4">投稿</button>
        </form>
        {{ range $i, $v := . }}
        <div class="card mt-1">
            <div class="card-body py-2">
                <span class="card-text">{{ $v.Content }}</span>
                <span class="ml-4 text-muted">{{ $v.CreatedAt }}</span>
            </div>
        </div>
        {{ end }}
    </div>
</body>

</html>